.App {
  background-color: rgb(33, 37, 41);
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  .App {
    font-size: 12px;
  }
}
